<header>
    <nav>
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-md-5 col-8">
                 <a href="/">
                 <img src="assets/images/logolight.png" id="imagedark" class="w-5" alt="">
                 <img src="assets/images/logowhite.png" id="imgwhite" class="w-5 imgwhite" alt="">

             </a>
             </div>
             <div class="col-lg-2 col-md-2 pt-5 sm"><a href="/Project" class="link">Projets</a></div>
             <div class="col-lg-2 col-md-2 pt-5 sm" ><a href="/About" class="link">Propos de moi</a></div>
             <div class="col-lg-2 col-md-2 pt-5 sm"><a href="/Contact" class="link">Contact</a></div>
             <div class="col-lg-2 col-md-1 col-2 pt-5">
                 <a href="javascript:void(0);" onclick="toggleDarkMode()" class="btn btn-outline-dark">
                     <i id="icon2dak" class="bi bi-moon-fill"></i>
                 </a>
             </div>
             
             <div class="col-lg-2 col-md-1 col-2 pt-5">
                 <a href="javascript:void(0);" onclick="toggleMenu()" class="font">
                     <i id="icondark" class="bi bi-list"></i>
                 </a>
             </div>
             
         </div>
     </div>
     <div class="container">
         <div class="row">
             <div id="myLinks" class="shadow p-4">
                 <a href="project.html" class="link">Projets</a>
                 <hr>
                 <a href="Propos_de_moi.html" class="link">Propos de moi</a>
                 <hr>
                 <a href="contact.html" class="link">Contact</a>
             </div>
         </div>
     </div>
    </nav>
 </header>