<main>
    <section>
       
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-2 ">
                </div>
                <div class="col-lg-8 col-md-8 col-12 p-5">
                    <h1 id="iddark">Portefeuille de projets</h1>
                </div>
               
                <div class="col-lg-4 col-md-6 col-12 pt-5 pb-5 ">
                    <a href="" title="ConstructionXpert Services
                    Solution : Application de Gestion
                    de Projets de Construction" class="text-decoration-none">
                     <div class="card shadow  wd1" >
                     <img class="card-img-top" src="./assets/images/ConstructionXP.png" alt="Project 1">
                     <div class="card-body">
                       <h6 class="card-title"> ConstructionXpert Services
                         Solution : Application de Gestion
                         de Projets de Construction
                         
                       </h6>
                       <h6 class="card-text text-center p-5" >Application Web</h6>
                     </div>
                   </div>
                 </a> 
                 
                 </div>
               
                 <div class="col-lg-4 col-md-6 col-12 pt-5 pb-5 ">
                     <a href="" title="📌 DoctorRV : Système de
                     Réservation de Rendez-Vous
                     Médicaux" class="text-decoration-none">
     
                     <div class="card shadow wd" >
                     <img class="card-img-top height1" src="./assets/images/Capture d'écran 2025-03-03 130803.png" alt="Project 2">
                     <div class="card-body">
                         <h6 class="card-title">📌 DoctorRV : Système de
                             Réservation de Rendez-Vous
                             Médicaux
                         </h6>
                         <h6 class="card-text text-center p-5" >Application Web</h6>
                     </div>
                   </div>
                     </a>
                 </div>
                 <div class="col-lg-4 col-md-12 col-12  pt-5 pb-5 ">
                     <a href="" title="SportFlow - Plateforme de Gestion des Clubs et Entraîneurs" class="text-decoration-none">
     
                     <div class="card shadow wd" >
                     <img class="card-img-top height1" src="./assets/images/sportflow.png" alt="Card image cap">
                     <div class="card-body">
                       <h5 class="card-title">SportFlow - Plateforme de Gestion des Clubs et Entraîneurs
                     </h5>
                       <h6 class="card-text text-center p-5" >Application Web</h6>
                                     </div>
                   </div>
                     </a>
                 </div>
                  <div class="col-lg-5 col-md-5 col-3">
                    
                  </div>
                
            </div>
        </div>
    </section>
    
    
            </main>